[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.22.0"
spotipy = "~=2.3.8"
prompt_toolkit = "~=2.0.9"

[dev-packages]

[requires]
python_version = "3.6"
